.post-list {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: #111;
    max-width: 1400px;
    list-style: none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.post-list>li {
    margin-bottom: 0.5em;
}

.post-list h2 {
    margin-top: 0;
}

h1,
h2,
h3 {
    font-size: 1.5rem;
    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    line-height: 1.2;
}

h2,
h3 {
    margin-bottom: 0.5rem;
}

time {
    display: block;
    color: #828282;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
}

.post-list a {
    color: #111;
    text-decoration: none;
    display: block;
}